
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;


}

header {
    background-color:black;
    color: white;
    padding: 10px 0;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

section {
    padding: 20px;
}

h2{
    color: white;
    font-style: oblique;
}
h1{color: white;}
h3{ color: white; 
 }
p{color: white;
    font-style:italic;
}
project {
    margin-bottom: 2px;
}

footer {
    background-color:black;
    color: blue;
    text-align: center;
    padding: 10px 0;
}
